#capcha{
padding:5px;
width:130px;
height:30px;
border:1px solid brown;
position:relative;
left:100px;
font-weight:bold;
text-align:center;
}
#imgCaptcha{
position:relative;
top:10px;
left:120px;
}
#imgCaptcha1{
position:relative;
top:10px;
}
#newButton1,#newButton2{
font-size:25px;
padding:15px;
color:green;
}
#newButton1:hover,#newButton2:hover{
cursor:pointer;
color:blue;

}