#loginPage{

width:auto;
height:600px;
background-color:white;
font-size:30px;
font-family:Josefin Slab;
text-align:center;
padding:20px;

}
#header{
top:0px;
}

#form button{
outline:none;
border:none;
background-color:white;
opacity:0.95;
font-family:Josefin Slab;
font-size:23px;
font-weight:bold;
}
#form button:hover{
cursor:pointer;
color:blue;
}
#form{
color:rgb(2,57,0);
}