#order{
width:auto;
height:700px;
background-color:white;
font-size:30px;
font-family:Josefin Slab;
text-align:center;
padding:20px;
}
#main1 p{
font-size:35px;
font-family:Josefin Slab;
text-align:center;
pADDING:50px;
}