#success{
width:auto;
height:600px;
background-color:white;
font-size:30px;
font-family:Josefin Slab;
text-align:center;
padding:20px;
}
#success p{
font-size:37px;
font-weight:bold;
padding:10px;
line-height:50px;
}