
body{
background:#202024;
left: 0; 
padding:0;
margin:0;	
position:relative;
width:100%;
height:100%;
}
#main{
width:80%;	
height:40%;
margin: 0 auto;
top:150px;
background:white;	
opacity:0.75;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
position:relative;

}
#main h1{
font-size:40px;
font-family:Josefin Slab;
text-align:center;
padding:20px;
}
#main p{
font-size:26px;
font-family:Josefin Slab;
text-align:center;
}
#main,#main select{
font-size:23px;
font-family:Josefin Slab;
text-align:center;
}
#submit{
position:relative;
font-size:25px;
top:35px;
left:-25px;
}

#background{
width:100%;
height:100%;
top:0px;
height: 800px;
baackground-image:url('images/1.jpg');

}

.directorySlider{
height:20px;
width:30px;
}